@font-face {
  font-family: 'multido'; font-style: normal; font-weight: 300;
  src:
    url(./assets/fonts/multido.woff) format('woff')
}

@font-face {
  font-family: 'WorkSans-ExtraLight'; font-style: normal; font-weight: 300;
  src:
    url(./assets/fonts/WorkSans-ExtraLight.woff) format('woff'),
    url(./assets/fonts/WorkSans-ExtraLight.woff2) format('woff2')
}

@font-face {
  font-family: 'WorkSans-Light'; font-style: normal; font-weight: 300;
  src:
    url(./assets/fonts/WorkSans-Light.woff) format('woff'),
    url(./assets/fonts/WorkSans-Light.woff2) format('woff2')
}

@font-face {
  font-family: 'WorkSans-Medium'; font-style: normal; font-weight: 300;
  src:
    url(./assets/fonts/WorkSans-Medium.woff) format('woff'),
    url(./assets/fonts/WorkSans-Medium.woff2) format('woff2')
}

@font-face {
  font-family: 'WorkSans-Regular'; font-style: normal; font-weight: 300;
  src:
    url(./assets/fonts/WorkSans-Regular.woff) format('woff'),
    url(./assets/fonts/WorkSans-Regular.woff2) format('woff2')
}


button:focus {outline:0;}

html{
  min-height: 100%;
}

body{
  min-height: 100%;
  overflow: hidden;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #1DAAEA;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px 24px;
    background-image: url(./assets/images/desktop/loader.gif);

    font-family: 'Work Sans';
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    -ms-overflow-style: scrollbar;
    -webkit-app-region:drag;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

.buttonCenter {
  text-align: center !important;
}

#AppContainer{
  -webkit-user-select: none;
  cursor: default;;
}

#AppContainer input{
  -webkit-user-select: text;
}

#AppContainer{
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 0;
  -webkit-app-region: no-drag;
}

.topMoveSpace{
  position: fixed !important;
  left: 0px;
  right: 0px;
  top: 0px;
  height:35px;
  z-index: 20;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}


#title-bar {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    height: 35px;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.03);
    padding: 0px;
    margin: 0px;

    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 5000;
    transition: background 200ms;
}

#title-bar:hover {
  background-color: rgba(0,0,0,0.07);
}


.title-bar-btns {
    -webkit-app-region: no-drag;
    display: none;
    position: absolute;
    left:24px;
    top:14px;
    opacity: 0;
    transition-delay: 500ms;
    transition: opacity 500ms;
}

#title-bar.visible .title-bar-btns{
  opacity: 1;
}

.bar-btn{
  -webkit-user-select: none;
  display: block;
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  background-color: rgba(0,0,0,0.05);
  border-radius: 20px;
  cursor: default;
  background-repeat: no-repeat;
  background-position: center;
  transition: background 300ms;
}

#appLogo{
  position: absolute;
  top:9px;
  opacity: 0;
  transition-delay: 500ms;
  transition: opacity 500ms;
}

#title-bar.visible #appLogo{
  opacity: 1;
}

#appLogo svg{
  display: block;
  height: 15px;
  width: auto;
}


/* Title bar osx */

.OS-darwin .osx{
  display: block;
}

.OS-darwin #appLogo{
  right:24px;
}

.OS-darwin #appLogo svg use{
  fill: #FFFFFF;
}

.title-bar-btns.osx{
  left:24px;
  top:11px;
}

.OS-darwin .bar-btn{
  float: left;
  margin-right: 10px;
}

#title-bar:hover.OS-darwin #close-btn-osx{
  background-color: #FF6059;
  background-image: url(./assets/vector/APPclose.svg);
}

#title-bar:hover.OS-darwin #min-btn-osx{
  background-color: #FFC02F;
  background-image: url(./assets/vector/APPminimize.svg);
}

#title-bar:hover.OS-darwin #max-btn-osx{
  background-color: #28CA42;
  background-image: url(./assets/vector/OSXmaximize.svg);
}

#title-bar:hover.OS-darwin #max-btn-osx.maximized{
  background-color: #28CA42;
  background-image: url(./assets/vector/OSXunmaximize.svg);
}

/* Title bar linux */

.OS-linux .linux{
  display: block;
}

.OS-linux #appLogo{
  right:24px;
}

.OS-linux #appLogo svg use{
  fill: #FFFFFF;
}

.title-bar-btns.linux{
  left:24px;
  top:11px;
}

.OS-linux .bar-btn{
  float: left;
  margin-right: 10px;
}

#title-bar:hover.OS-linux #close-btn{
  background-color: #FF6059;
  background-image: url(./assets/vector/APPclose.svg);
}

#title-bar:hover.OS-linux #min-btn{
  background-color: #FFC02F;
  background-image: url(./assets/vector/APPminimize.svg);
}

#title-bar:hover.OS-linux #max-btn{
  background-color: #28CA42;
  background-image: url(./assets/vector/OSXmaximize.svg);
}

#title-bar:hover.OS-linux #max-btn.maximized{
  background-color: #28CA42;
  background-image: url(./assets/vector/OSXunmaximize.svg);
}

/* Title bar windows */

.OS-win32 .win{
  display: block;
}

.OS-win32 #appLogo{
  left:24px;
}

.OS-win32 #appLogo svg use{
  fill: #FFFFFF;
  transition: fill 1000ms;
}

.OS-win32 #appLogo.blue svg use{
  fill: #1DAAEA;
}

.title-bar-btns.win{
  right:24px;
  top:11px;
}

.OS-win32 .bar-btn{
  float: right;
  margin-right: 10px;
}

#title-bar:hover.OS-win32 #close-btn-win{
  background-color: #FF6059;
  background-image: url(./assets/vector/APPclose.svg);
}

#title-bar:hover.OS-win32 #min-btn-win{
  background-color: rgba(0,0,0,0.1);
  background-image: url(./assets/vector/APPminimize.svg);
}

#title-bar:hover.OS-win32 #max-btn-win{
  background-color: rgba(0,0,0,0.1);
  background-image: url(./assets/vector/WINmaximize.svg);
}

#title-bar:hover.OS-win32 #max-btn-win.maximized{
  background-color: rgba(0,0,0,0.1);
  background-image: url(./assets/vector/WINunmaximize.svg);
}


/* className */

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

::-webkit-input-placeholder {
   color: rgba(255,255,255,0.6);
}

.inputadd::-webkit-input-placeholder {
  font-family: WorkSans-Light;
   color: rgba(0,0,0,0.6);
}

.input{

}


.DayPanelScroll::-webkit-scrollbar {
  width: 3px;
}

.DayPanelScroll::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0) !important;
  border-radius: 5px;
}

.DayPanelScroll:hover::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.1) !important;
}

.DayPanelScroll::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}

/* SortableList */

.SortableList::-webkit-scrollbar {
  width: 3px;
}

.SortableList::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0) !important;
  border-radius: 5px;
}

.SortableList:hover::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.1) !important;
}

.SortableList::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}


ul{
  list-style-type: none;
  margin:0px;
  padding:0px;
}

li{
  list-style-type: none;
  margin:0px;
  padding:0px;
}

li div button{
  cursor: default !important; /*ns-resize;*/
}

.SortableList li div button{
  cursor: default !important;
}

.SortableList li .pipeTouch button{
  cursor: pointer !important;
}

.ctxMenuItem{
  transition: background 200ms;

}

.ctxMenuItem:hover{
  background-color: rgba(0,0,0,0.05) !important;
}

.ctxMenuContainer .ctxMenuItem:last-child{
  border: none !important;
}

.DatePickerCell {
  width: 12% !important;
}

/* DATE DROP */

.ghostItem{
  opacity: 1;
  transition: opacity 100ms;
  transition-delay: 100ms;
}

.ghostItem.hidden{
  transition-delay: 200ms;
}

#dropHelper{
  position: absolute;
  z-index: 500;
  top: -500px;
  left: -500px;
  background: #FFFFFF;
  padding: 8px 8px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.15);
  transition: opacity 100ms;
  transition-delay: 100ms;
}

#dropHelper.show{
  transition-delay: 200ms;
}

#dropHelper span:before{
  content: "";
  position: absolute;
  top: -14px;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 8px solid #FFFFFF;
}

#dropHelper span{
  position: relative;
  display: block;
  width: 60px;
  text-align: center;
  font-size: 14px;
  line-height: 100%;
  font-family: WorkSans-Medium;
}

.noSortableList .taskItem{
  transform: translate3d(0px, 0px, 0px) !important;
}

/* BROWSERS */

/* FIREFOX */

@-moz-document url-prefix() {
  .MacOS .iconfont span{
    margin-top: -5px !important;
  }

  .Windows .iconfont span{
    margin-top: 0px !important;
  }

  .calendar-date-text {
    margin-top: -2px !important;
  }
}

/* SAFARI */


_::-webkit-full-page-media, _:future, :root .DatePickerBar button {
  margin-top: 2px !important;
}

_::-webkit-full-page-media, _:future, :root .DatePickerDate {
  margin-top: 5px !important;
}

_::-webkit-full-page-media, _:future, :root .iconfont.pipe span {
  margin-top: 18px !important;
}

_::-webkit-full-page-media, _:future, :root .iconfont.close span {
  margin-top: 8px !important;
}

_::-webkit-full-page-media, _:future, :root .iconfont.left span {
  margin-top: 25px !important;
}
_::-webkit-full-page-media, _:future, :root .iconfont.right span {
  margin-top: 25px !important;
}

_::-webkit-full-page-media, _:future, :root .iconfont.plus span {
  margin-top: 25px !important;
}

_::-webkit-full-page-media, _:future, :root .iconfont.pen span {
  margin-top: -2px !important;
}

_::-webkit-full-page-media, _:future, :root .iconfont.bin span {
  margin-top: -2px !important;
}

_::-webkit-full-page-media, _:future, :root .icon-label {
  padding-top: 3px !important;
}

_::-webkit-full-page-media, _:future, :root .calendar-date-text {
  margin-top: 6px !important;
}

_::-webkit-full-page-media, _:future, :root .carousel-nav .iconfont.right span{
  margin-top: -8px !important;
}

_::-webkit-full-page-media, _:future, :root .carousel-nav .iconfont.left span{
  margin-top: -8px !important;
}

_::-webkit-full-page-media, _:future, :root .carousel-nav button:last-child .carousel-next-text{
  text-align: right !important;
  flex: 1 !important;
}

_::-webkit-full-page-media, _:future, :root .carousel-nav .carousel-dotts {
  margin-top: -8px !important;
}

_::-webkit-full-page-media, _:future, :root .auth-wrapper {
  -webkit-perspective: 1300px !important;
  perspective: 1300px !important;

  -webkit-transform-style: flat !important;
  transform-style: flat !important;
}

/* explorer >= 11 */

::-ms-clear {
  display: none;
}

::-ms-reveal {
  display: none;
}

input.inputadd:-ms-input-placeholder {
  font-family: WorkSans-Light;
  color: rgba(0,0,0,0.6);
}
