@charset "UTF-8";

@font-face {
  font-family: "multido";
  src:url("fonts/multido.eot");
  src:url("fonts/multido.eot?#iefix") format("embedded-opentype"),
    url("fonts/multido.woff") format("woff"),
    url("fonts/multido.ttf") format("truetype"),
    url("fonts/multido.svg#multido") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "multido" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "multido" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-md-icon-arrow-left:before {
  content: "\3c";
}
.icon-md-icon-arrow-right:before {
  content: "\3e";
}
.icon-md-icon-bin:before {
  content: "\62";
}
.icon-md-icon-day:before {
  content: "\23";
}
.icon-md-icon-delete:before {
  content: "\78";
}
.icon-md-icon-eye:before {
  content: "\65";
}
.icon-md-icon-info:before {
  content: "\69";
}
.icon-md-icon-logout:before {
  content: "\71";
}
.icon-md-icon-menu:before {
  content: "\3d";
}
.icon-md-icon-now:before {
  content: "\74";
}
.icon-md-icon-pipe:before {
  content: "\6a";
}
.icon-md-icon-plus:before {
  content: "\2b";
}
.icon-md-icon-search:before {
  content: "\6f";
}
.icon-md-icon-sort:before {
  content: "\73";
}
